.text-color {
    color: red;
}

.nav-backgound {
    background-color: grey !important;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.background-r {
    background-color: aqua;
}

.pagination {
 margin-top: 100px;
}

.page-link {
    color: rgb(240, 5, 5);
}


.carousel-item {
    width: auto;
    text-align: center;
}

.d-block-w-100 {
    text-align: center;
}

.carousel-control-next-icon {
    background-image: url(img/arrow-next-svgrepo-com.svg);
}

.carousel-control-prev-icon {
    background-image: url(img/left-arrow-svgrepo-com\ \(2\).svg);
}
